body {
    font-family: 'Arial', sans-serif;
    background-color: #1DB954;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #191414;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
    box-sizing: border-box;
    max-height: 99vh; /* Limit container height */
    overflow-y: auto; /* Enable vertical scrolling */
    margin: 0 auto;
}


h1 {
    color: #1DB954;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #1DB954;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#predictionResult {
    margin-top: 20px;
    font-size: 18px;
}


/* Responsive design */
@media (min-width: 768px) {
    .container {
        width: 70%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 40%;
    }
}